<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Plugin descriptor for the FAQ question HTML extensions.
  -->
<plugin id="org.example.faq-question.html">
	<require plugin="org.example.faq-question.doctype"/> 
	<feature extension="dita.xsl.html5" value="xsl/faq-question2html.xsl" type="file"/>  
</plugin>